# ignore ai slop
CLAUDE.md

# ignore ide settings
.vscode/ 

# ignore pycache
__pycache__/
*.pyc

# ignore virtual environment
venv/

# ignore log files
*.log

# ignore os files
.DS_Store

# ignore config
utilities/config.py

# ignore workspace xml files
workspace.xml
.idea/

# ignore python cache
__pycache__/
*.pyc

# ignore backend and frontend directory
backend_and_frontend/

vending_machine.log
vending_machine.log.bak
vending_machine.service.d

